body {
    background: linear-gradient(252.44deg,
            #415F75 2.64%, #406682 50%, #223C4F 100%);
}

.brain {
    padding: 0 0 0 0 px;
    position: absolute;
    width: 100px;
    height: 60px;
    left: 60px;
    top: 0px;
}

.strelka {
    padding: 0 0 0 0 px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
}

.title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60px;
    line-height: 98px;
    Margin: -30 0 0 140px;

    color: #FFFFFF;
}

p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    margin: 0 0 0 700px;

    color: #000000;
}


h2 {
    position: absolute;
    width: 1858px;
    height: 331px;
    left: 31px;
    top: 180px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: #000000;
}

h3 {

    position: absolute;
    width: 1866px;
    height: 331px;
    left: 27px;
    top: 190px;

    background: #AAD5D4;
    filter: blur(30px);
    border-radius: 120px;
}


#bg{
    width: 1922px;
    height: 75px;
    background:linear-gradient(252.44deg,
    #2b2c81 2.64%, #2b2c81 50%, #2b2c81 100%);
    margin:-740 0 0 -10px;
   }

   .btn-group a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 50;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 40px 100px;
    cursor: pointer;
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    margin: 430 0 0 20;
}

.btn-group a:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group a:hover {
    background-color: #6c75c9;
}

.btn-group2 button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 36;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 27px 80px;
    cursor: pointer;
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 350px;
    height: 141px;
    left: -45px;
    top: 730px;
    margin: -140 0 0 470px;
}

.btn-group2 button:not(:last-child) {
    border-right: none;
}

.btn-group2 {
    content: "";
    clear: both;
    display: table;
}

.btn-group2 button:hover {
    background-color: #6c75c9;
}

.btn-group3 button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 36;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 6px 80px;
    cursor: pointer;
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 350px;
    height: 140px;
    left: 0px;
    top: 730px;
    margin: -140 0 0 800px;
}

.btn-group3 button:not(:last-child) {
    border-right: none;
}

.btn-group3 {
    content: "";
    clear: both;
    display: table;
}

.btn-group3 button:hover {
    background-color: #6c75c9;
}

.btn-group4 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30;
    border: none;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 0px 20px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 345px;
    height: 140px;
    left: 1180px;
    top: 590px;
}

.btn-group4 button:not(:last-child) {
    border-right: none;
}

.btn-group4 {
    content: "";
    clear: both;
    display: table;
}

.btn-group4 button:hover {
    background-color: #6c75c9;
}

.btn-group5 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 37;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 350px;
    height: 140px;
    left: 1450px;
    top: 520px;
    margin: 70 0 0 100px;
}
.btn-group5 {border-radius: 50%;}

.btn-group5 button:not(:last-child) {
    border-right: none;
}

.btn-group5:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group5 button:hover {
    background-color: #6c75c9;
}

.btn-group6 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 373px;
    height: 150px;
    left: 27px;
    top: 700px;
    margin: 70 0 0 0px;
}

.btn-group6 button:not(:last-child) {
    border-right: none;
}

.btn-group6:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group6 button:hover {
    background-color: #6c75c9;
}

.btn-group7 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 350px;
    height: 150px;
    left: 27px;
    top: 700px;
    margin: 70 0 0 398px;
}

.btn-group7 button:not(:last-child) {
    border-right: none;
}

.btn-group7:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group7 button:hover {
    background-color: #6c75c9;
}

.btn-group8 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 350px;
    height: 150px;
    left: 27px;
    top: 700px;
    margin: 70 0 0 773px;
}

.btn-group8 button:not(:last-child) {
    border-right: none;
}

.btn-group8:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group8 button:hover {
    background-color: #6c75c9;
}

.btn-group9 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 345px;
    height: 150px;
    left: 27px;
    top: 700px;
    margin: 70 0 0 1153px;
}

.btn-group9 button:not(:last-child) {
    border-right: none;
}

.btn-group9:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group9 button:hover {
    background-color: #6c75c9;
}

.btn-group10 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35;
    border-radius: 45%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(71, 211, 192, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #254F58;
    border: 1px solid rgb(19, 65, 87);
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
    position: absolute;
    width: 350px;
    height: 150px;
    left: 27px;
    top: 700px;
    margin: 70 0 0 1523px;
}

.btn-group10 button:not(:last-child) {
    border-right: none;
}

.btn-group10:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group10 button:hover {
    background-color: #6c75c9;
}